h1 {
    width: 35%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: auto;
    position: relative;
    top: 90px;
    font-size: 60px;
}

h1 span {
    background: #fff;
    padding: 0 10px;
    font-family: roboto;
}
.box1{
    font-family: Roboto;
    width: 250px;
    height: 350px;
    border: #000700 solid 1px;
    border-radius: 20px;
    border-color: crimson;
    box-shadow: 4px 4px 8px -2px grey;
    display: block;
    margin: auto;
    position: relative;
    top: 250px;
}
.i2{
    position: absolute;
    left: 150px;
    top: 340px;
    color: crimson;
}
.underline
{
    font-family: Roboto;
    color: crimson;
    font-size: 28px;
    text-align: center; 
}
.strike{
    text-align: center;
    text-decoration-line: line-through;
    font-size: 20px;
    color:crimson;
    font-family: Roboto;
}
.check{
    text-align: center;
    font-size: 20px;
    font-family: Roboto;
}

i{
    position: absolute;
    right: 80px;
    margin-top: -65px;
    left: 30px;
    color: crimson;
}

.back{
    position: absolute;
    left: 90px;
    bottom:370px;
    font-size: 37px;
    font-family: roboto;
}
.blur{
    
    backdrop-filter: blur(5px);
    position: fixed;
    z-index: 11;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color:white (0, 0, 0, 0.5);
}

.popup{
    position: fixed;
    z-index: 100;
    background-color: white;
    width:430px;
	height:220px;
    text-align:center;
    border: solid black 1px;
    border-radius: 15px;
    border-color: crimson;
	box-shadow: 4px 4px 8px -2px grey;
	position: fixed;
	left:45%;
    top:40%;
	margin-left:-150px;
	margin-top:-60px;
}

.text{
    font-family: roboto;
    color: crimson;
    position: relative;
    font-size: 28px;
    top: 30px;
}

input[type=text]{
    width: 320px;
    height: 45px;
    border: solid 1px;
    border-color: crimson;
    box-shadow: 4px 4px 8px -2px grey;
    position: absolute;
    border-radius: 15px;
    left: 50px;
    top: 35%;
}

button{
    background-color: crimson;
    padding: 12px;
    letter-spacing: 1px;
    font-size: 14px;
    border: 0px;
    outline: 0px;
    border-radius: 20px;
    color: white;
    width: 70px;
    position: absolute;
    left: 180px;
    top: 160px;
}
@media (min-width:320px) and (max-width: 480px){
    h1{
        width: 80%;
        text-align: right;
        font-size: 45px;
        border-bottom: 0px;
    }    

    i{
        margin-top: -185px;
        left: -30px;
    }
    .back{
        display: none;
    }

    .box1{
        width: 250px;
        height: 350px;
        
    }

    hr{
        width: 200px;
    }
    .i2{
        top: 460px;
        margin-left: 60px;
    }

    .blur{

        backdrop-filter: blur(4px);
    }
    .popup{
        
         width:330px;
	    height:220px;
    }

    input[type=text]{
        width: 280px;
        height: 45px;
        left: 20px;
    }
    .text{
        font-size: 26px;
    }

    button{
        left: 130px;
        width: 70px;
    }


}
