.div1{
    margin-top: 100px;
    margin-left: 220px;
    display: inline-flex;
    position: relative;   
}

.boxes{
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    width: 50%;
    margin: auto;
    align-items: center;    
}

.box1{
    font-family: Roboto;
    width: 200px;
    height: 300px;
    border: crimson solid 1px;
    border-radius: 20px;
    box-shadow: 4px 4px 8px -2px grey;
    display: block;  
    margin-bottom: 20px; 
    position: relative; 
}
.title{
    position: absolute;
    left: 160px;
    font-family: Roboto;
    font-size: 55px;
    margin-top: 15px;
}
.underline
{
    text-align: center;
    font-family: Roboto;
    color: crimson;
    font-size: 27px;  
}
.strike{
    text-align: center;
    text-decoration-line: line-through;
    font-size: 20px;
    color:crimson;
    font-family: Roboto;  
}
.check{
    text-align: center;
    font-size: 20px;
    font-family: Roboto;
}
.box2{
    display: block;
    width: 200px;
    height: 300px;
    font-family: Roboto;
    border:crimson solid 1px;
    border-radius: 20px;
    box-shadow: 4px 4px 8px -2px grey;
    margin-bottom: 20px;  
   
}
.underline2
{
    text-align: center;
    font-family: Roboto;
    color: crimson;
    font-size: 27px;   
}
.strike2{
    text-align: center;
    text-decoration-line: line-through;
    font-size: 20px;
    color:crimson;
    font-family: Roboto;   
}
.check2{
    text-align: center;
    font-size: 20px;
    font-family: Roboto;    
}
.box3{
    display: block;
    width: 200px;
    height: 300px;
    font-family: Roboto;
    border:crimson solid 1px;
    border-radius: 20px;
    box-shadow: 4px 4px 8px -2px grey;   
    margin-bottom: 20px;  
    position: relative;
}
.underline3
{
    text-align: center;
    color: crimson;
    font-size: 27px;
    font-family: Roboto;
}
.strike3{
    text-align: center;
    text-decoration-line: line-through;
    font-size: 20px;
    color:crimson;
    font-family: Roboto;    
}
.check3{
    text-align: center;
    font-size: 20px;
    font-family: Roboto;   
}

.box4{
    visibility: hidden;
    display: block;
    width: 200px;
    height: 300px;
    font-family: Roboto;
    border:crimson solid 1px;
    border-radius: 20px;
    box-shadow: 4px 4px 8px -2px grey;   
    margin-bottom: 20px;  
 
}
.underline4
{
    color: crimson;
    font-size: 27px;
    font-family: Roboto;
}
.strike4{
    text-align: center;
    text-decoration-line: line-through;
    font-size: 20px;
    color:crimson;
    font-family: Roboto;    
}

.box5{
    visibility: hidden;
    display: block;
    width: 200px;
    height: 300px;
    font-family: Roboto;
    border:crimson solid 1px;
    border-radius: 20px;
    box-shadow: 4px 4px 8px -2px grey;   
    margin-bottom: 20px;  
 
}
.underline5
{
    color: crimson;
    font-size: 27px;
    font-family: Roboto;
}
.strike5{
    text-align: center;
    text-decoration-line: line-through;
    font-size: 20px;
    color:crimson;
    font-family: Roboto;    
}
.check5{
    text-align: center;
    font-size: 20px;
    font-family: Roboto;   
}

.box6{
    visibility: hidden;
    display: block;
    width: 200px;
    height: 300px;
    font-family: Roboto;
    border:crimson solid 1px;
    border-radius: 20px;
    box-shadow: 4px 4px 8px -2px grey;   
    margin-bottom: 20px;  
 
}
.underline6
{
    color: crimson;
    font-size: 27px;
    font-family: Roboto;
}
.strike6{
    text-align: center;
    text-decoration-line: line-through;
    font-size: 20px;
    color:crimson;
    font-family: Roboto;    
}
.check6{
    text-align: center;
    font-size: 20px;
    font-family: Roboto;   
}


h1{
    position: absolute;
    right: -880px;
    margin-top: 36px;
    font-family: Roboto;
    font-weight: 200;
}

i{
   position: absolute;
   left: 730px;
   margin-top: 38px;
    color: crimson;
}

.blur{
    
    backdrop-filter: blur(5px);
    position: fixed;
    z-index: 11;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color:white (0, 0, 0, 0.5);
}
.popup{
    position: fixed;
    z-index: 100;
    background-color: white;
    width:430px;
	height:220px;
    text-align:center;
    border: solid crimson 1px;
    border-radius: 15px;
	box-shadow: 4px 4px 8px -2px grey;
	left:45%;
    top:40%;
	margin-left:-150px;
	margin-top:-60px;
}

.text{
    font-family: roboto;
    color: crimson;
    position: relative;
    font-size: 28px;
    top: 30px;

}

input[type=text]{
    width: 320px;
    height: 45px;
    border: solid crimson 1px;
    box-shadow: 4px 4px 8px -2px grey;
    position: absolute;
    border-radius: 15px;
    left: 50px;
    top: 35%;
}

button{
    background-color: crimson;
    padding: 12px;
    letter-spacing: 1px;
    font-size: 14px;
    border: 0px;
    outline: 0px;
    border-radius: 20px;
    color: white;
    width: 70px;
    position: absolute;
    left: 180px;
    top: 160px;
}

@media (min-width:320px) and (max-width: 480px){
   
        .div1{
            margin-top: 5px;
            margin-left: 0px;
        }
        .title 
        {
          font-size: 45px;
          left: 0px;
          top: 20px;  
        }
    
        h1{
            display: none;
        }
    
        i{
            left: 275px;
            top: 12px;
        }
    
        div{
            flex-direction: column;
            margin: 10px;
            margin-left: 2px;
        }
    
        .box1{
            width: 300px;
            height: 70px;
            border-radius: 10px;
            position: relative;
            margin-bottom: 13px;
        }
        
    
       .underline{
           position: absolute;
           margin-top: -10px;
           margin-left: 70px;
       }
        .strike{
            display: none;
        }
    
        .check{
            display: none;
        }
    
        hr{
            display: none;
        }
    
        .box2{
            width: 300px;
            height: 70px;
            border-radius: 10px;
            position: relative;
            margin-bottom: 13px;
        }
        
    
       .underline2{
           position: absolute;
           margin-top: -10px;
           margin-left: 70px;
       }
        .strike2{
            display: none;
        }
    
        .check2{
            display: none;
        }
    
        .box3{
            width: 300px;
            height: 70px;
            border-radius: 10px;
            position: relative;
            margin-bottom: 13px;
        }
        
    
       .underline3{
           position: absolute;
           margin-top: -10px;
           margin-left: 70px;
       }
        .strike3{
            display: none;
        }
    
        .check3{
            display: none;
        }
    
        .box4{
            visibility: visible;
            width: 300px;
            height: 70px;
            border-radius: 10px;
            position: relative;
            margin-bottom: 13px;
        }
        
    
       .underline4{
           position: absolute;
           margin-top: -10px;
           margin-left: 70px;
       }
        .strike4{
            display: none;
        }
    
        .check4{
            display: none;
        }
    
        .box5{
            visibility: visible;
            width: 300px;
            height: 70px;
            border-radius: 10px;
            position: relative;
            margin-bottom: 13px;
        }
        
    
       .underline5{
           position: absolute;
           margin-top: -10px;
           margin-left: 70px;
       }
        .strike5{
            display: none;
        }
    
        .check5{
            display: none;
        }
    
        .box6{
            visibility: visible;
            width: 300px;
            height: 70px;
            border-radius: 10px;
            position: relative;
            margin-bottom: 13px;
        }
        
    
       .underline6{
           position: absolute;
           margin-top: -10px;
           margin-left: 70px;
       }
        .strike6{
            display: none;
        }
    
        .check6{
            display: none;
        }
    
    

    .blur{

        backdrop-filter: blur(4px);
    }
    .popup{
         width:325px;
	    height:220px;
    }

    input[type=text]{
        width: 280px;
        height: 45px;
        left: 20px;
    }
    .text{
        font-size: 26px;
    }

    button{
        left: 130px;
        width: 70px;
    }

}