h1 {
    width: 35%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: auto;
    position: relative;
    top: 90px;
    font-size: 60px;
}

h1 span {
    background: #fff;
    padding: 0 10px;
    font-family: roboto;
}
.box1{
    font-family: Roboto;
    width: 250px;
    height: 350px;
    border: #000700 solid 1px;
    border-radius: 20px;
    border-color: crimson;
    box-shadow: 4px 4px 8px -2px grey;
    display: block;
    margin: auto;
    position: relative;
    top: 250px;
}
.i2{
    position: absolute;
    left: 150px;
    top: 340px;
    color: crimson;
}
.underline
{
    font-family: Roboto;
    color: crimson;
    font-size: 28px;
    text-align: center; 
}
.strike{
    text-align: center;
    text-decoration-line: line-through;
    font-size: 20px;
    color:crimson;
    font-family: Roboto;
}
.check{
    text-align: center;
    font-size: 20px;
    font-family: Roboto;
}

i{
    position: absolute;
    right: 80px;
    margin-top: -65px;
    left: 30px;
    color: crimson;
}

.back{
    position: absolute;
    left: 90px;
    bottom:370px;
    font-size: 37px;
    font-family: roboto;
}



@media (min-width:320px) and (max-width: 480px){
    h1{
        width: 80%;
        text-align: right;
        font-size: 45px;
        border-bottom: 0px;
    }    

    i{
        margin-top: -185px;
        left: -30px;
    }
    .back{
        display: none;
    }

    .box1{
        width: 250px;
        height: 350px;
        
    }

    hr{
        width: 200px;
    }
    .i2{
        top: 460px;
        margin-left: 60px;
    }
}

@media (min-width:481px) and (max-width: 769px){
    h1{
        width: 80%;
        font-size: 80px;
    }

    .back{
        font-size: 40px;
    }

   i{
       right: 95px;
   }

  
}